/* static/style.css */

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.wrapper {
    left: 2.5vw;
    width: 50vw;
    height: 90vh;
    background-image: url('logos/gameboard.png');
    background-size: 50vw 90vh;
    background-repeat: no-repeat;
    position: fixed;
}
.green{
    position: relative;
    width: 21px; 
    height: 35px;  
    background-image: url('characters/board_sprites/single_green.png');
    background-size: cover; 
    position: absolute; 
}
.red{
    position: relative;
    width: 21px; 
    height: 35px;  
    background-image: url('characters/board_sprites/single_scarlet.png');
    background-size: cover; 
    position: absolute; 
}
.blue{
    position: relative;
    width: 21px; 
    height: 35px;  
    background-image: url('characters/board_sprites/single_peacock.png');
    background-size: cover; 
    position: absolute; 
}
.yellow{
    position: relative;
    width: 21px; 
    height: 35px;  
    background-image: url('characters/board_sprites/single_mustard.png');
    background-size: cover; 
    position: absolute; 
}
.purple{
    position: relative;
    width: 22px; 
    height: 35px;  
    background-image: url('characters/board_sprites/single_plum.png');
    background-size: cover; 
    position: absolute; 
}
.white{
    position: relative;
    width: 21px; 
    height: 35px;  
    background-image: url('characters/board_sprites/single_white.png');
    background-size: cover; 
    position: absolute; 
}
#MrGreen {
    top: 50px; /* Adjust the top position */
    left: 100px; /* Adjust the left position */
}

.leftcol {
    background-color: black;
    width: 2.5vw;
    height: 100vh;
    position: fixed;
    left: 0;
}

.rightcol {
    background-color: black;
    width: 2.5vw;
    height: 100vh;
    position: fixed;
    right: 0;
}

.buttonzone {
    display: grid;
    grid-template-columns: 23.75vw 23.75vw 23.75vw 23.75vw;
    width: 95vw;
    height: 10vh;
    position: fixed;
    left: 2.5vw;
    bottom: 0;
    background-color: black;
}

.suggestzone{
    display: grid;
}

.movebutton{
    display: grid;
    background-color: black;
    width: 23.75vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 2.5vh;
    font-family: 'Courier New';
    font-weight: 700;
    text-align: center;
    left: 2.5vw;
}

.suggestbutton{
    display: grid;
    background-color: black;
    width: 23.75vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 2.5vh;
    font-family: 'Courier New';
    font-weight: 700;
    text-align: center;
    left: 26.25vw;
}

.accusebutton{
    display: grid;
    background-color: black;
    width: 23.75vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 2.5vh;
    font-family: 'Courier New';
    font-weight: 700;
    text-align: center;
    left: 49.90vw;
}

.endbutton{
    display: grid;
    background-color: black;
    width: 23.75vw;
    height: 10vh;
    position: fixed;
    bottom: 0;
    color: white;
    font-size: 2.5vh;
    font-family: 'Courier New';
    font-weight: 700;
    text-align: center;
    left: 73.65vw;
}

.serverchat{
    position: fixed;
    left: 73.65vw;
    height: 45vh;
    width: 25vw;
}

.characterinfo{
    position: fixed;
    width: 21.25vw;
    left: 52.5vw;
    height: 45vh;
    bottom: 10vh;
    background-color: black;
    color: white;
    font-size: 2.5vh;
    font-family: 'Courier New';
    font-weight: 700;
    text-align: center;
}