<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">

    <!-- Link to the socket.io info -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>

    <!-- Script to handle socket.io -->
    <script>
        var socket;            
        $(document).ready(function() {
            // The http vs. https is important. Use http for localhost!
            socket = io.connect('http://' + document.domain + ':' + location.port);

            // Button was clicked
            document.getElementById("create").onclick = function() {
                                
                // Emit a message to the 'create' socket and also create a player
                var name = document.getElementById("username").value;
                socket.emit('create', {'username': name});

                // Set the text input field to empty
                document.getElementById("username").value = "";
            }

            // Message recieved from server
            socket.on('room_code', function(data) {
                var text = data['text'];
                document.getElementById("code").innerHTML = "Your Lobby code is: " + text;   
                //Remove Create button
                document.getElementById("button-div").style.display = 'none';
                //Show player form
                document.getElementById("player-form").style.display = "block";
                document.getElementById("lobby-tracker").style.display = "block";
            });

            // Update number of players in lobby
            socket.on('players_in_lobby', function(data) {
                var num = data['num'];
                document.getElementById("num-players").innerHTML = num;
            });   
            
            socket.on('to_host', function(data) {
                var text = data['text'];
                document.getElementById("host-test").innerHTML = text;
            });

        });
    </script>

</head>
<body>
    <div class="menu-container" style="max-width:600px">
        <h1 class="game-title">Welcome to Clue-Less</h1>
        <h2 class="game-title" id="code"> </h2>
        <h3 class="game-text" id="host-test"> </h3>
        <div id="button-div" style="text-align:center">
            <label for="username" class="game-text">Please enter your username: </label>
            <input type="text" id="username" name="username"><br>
            <input id="create" type="submit" value="Create New Game"/>
        </div>
        <div id="lobby-tracker" style="display:none">
            <p class="game-text">The number of players in the lobby is:</p>
            <p class="game-text" id="num-players">1</p>
        </div>    
    </div>
    <br>           
    <div id="player-form" class="menu-container" style="display:none; text-align:left">
        <form>
            <p  class="game-text">Please choose a character:</p>
            {% for character in character_list %}
                <input type="radio" id="{{character}}" name="player_character" value="{{character}}">
                <label for="{{character}}" class="game-text">{{character}}</label><br>
            {% endfor %}
            <input id="submit-player-form" type="submit" value="Register Player"/>
        </form> 
    </div> 

</body>
</html>