<!-- templates/main_menu.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Clue Game Main Menu</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    
    <div class="menu-container">
        
        <h1 class="game-title">Clue Less</h1>
        <ul class="menu-options">
            <li><a href="/play" class="menu-link">Play</a></li>
            <li><a href="rules.html" class="menu-link">Rules</a></li>
            <li><a href="/about" class="menu-link">About</a></li>
        </ul>
    </div>
</body>
</html>