<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    
    <div class="menu-container"> 
        <h1 class="game-title">Clue Less</h1>
        <ul class="menu-options">
            <li><a href="/skeletal-tests" class="menu-link">Skeletal Tests</a></li>
            <li><a href="/host-lobby" class="menu-link">Create a lobby</a></li>
            <li><a href="/join-lobby" class="menu-link">Join a lobby</a></li>
            <a href="/" class="back-button">Back</a>
        </ul>
    </div>
</body>
</html>