<!DOCTYPE html>
<html>
<head>
    <title>The Rules</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    
    <div class="menu-container"> 
        <h1 class="game-title">Rules/How to play</h1>
        <ol class="rules-text">
            <li>Login and Lobby:</li>
                <ul class="list-text">Create or join a Lobby</ul>
            <li >Game Setup:</li>
                <ul class="list-text">The game host selects the number of players and starts the game.</ul>
                <ul class="list-text">Players choose their character tokens from a list of available options.</ul>
            <li >Virtual Game Board:</li>    
                <ul class="list-text">Players are presented with a virtual game board.</ul>
                <ul class="list-text">They can view the rooms, move their character tokens, and make suggestions/accusations by interacting with the digital interface.</ul>
            <li >Making Suggestions:</li>    
                <ul class="list-text">On players' turn, players will move their character token to a room on the virtual board.</ul>
                <ul class="list-text">They will be able to select a suspect, a weapon, and a room for their suggestion given.</ul>    
            <li >Disproving Suggestions:</li>    
                <ul class="list-text">The game system automatically checks the other players' hands for cards that match the suggestion.</ul>
                <ul class="list-text">If a player can disprove the suggestion, the system privately notifies them.</ul>          
            <li >Recording Information:</li>    
                <ul class="list-text">Players maintain an in game notepad or interface to keep track of the information they receive and deduce during the game.</ul>
            <li >Making Accusations:</li>    
                <ul class="list-text">Players can make an accusation when they believe they have solved the mystery.</ul>
                <ul class="list-text">The system reveals the solution if the accusation is incorrect.</ul>  
            <li >Winning:</li>    
                <ul class="list-text">The first player to correctly accuse the murderer, weapon, and room wins the game.</ul>
                <ul class="list-text">The game system declares the winner and may offer a replay option.</ul>      
            <li >Chat and Interaction:</li>    
                <ul class="list-text">Players can communicate with each other using in-game chat or messaging features.</ul>
                <ul class="list-text">They can strategize, mislead, or discuss the game</ul>   
            <li >End of Game:</li>    
                <ul class="list-text">After a game concludes, players may choose to start a new one or exit the virtual lobby.</ul>  
            </ol>
        <a href="/" class="back-button">Back</a>
    </div>
</body>
</html>