<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
    <link rel="stylesheet" type="text/css" href="static/tests.css">

    <!-- Link to the socket.io info -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>

    <!-- Script to handle socket.io -->
    <script>
        var socket;            
        $(document).ready(function() {
            // The http vs. https is important. Use http for localhost!
            socket = io.connect('http://' + document.domain + ':' + location.port);

            // Button was clicked
            document.getElementById("send_button1").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input1").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 1);

                // Set the textfield input to empty
                document.getElementById("textfield_input1").value = "";
            }

            document.getElementById("send_button2").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input2").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 2);

                // Set the textfield input to empty
                document.getElementById("textfield_input2").value = "";
            }
            
            document.getElementById("send_button3").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input3").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 3);

                // Set the textfield input to empty
                document.getElementById("textfield_input3").value = "";
            }
            
            document.getElementById("send_button4").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input4").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 4);

                // Set the textfield input to empty
                document.getElementById("textfield_input4").value = "";
            }
            
            document.getElementById("send_button5").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input5").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 5);

                // Set the textfield input to empty
                document.getElementById("textfield_input5").value = "";
            }
            
            document.getElementById("send_button6").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input6").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 6);

                // Set the textfield input to empty
                document.getElementById("textfield_input6").value = "";
            }
            
            document.getElementById("send_button7").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input7").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 7);

                // Set the textfield input to empty
                document.getElementById("textfield_input7").value = "";
            }
            
            document.getElementById("send_button8").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input8").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 8);

                // Set the textfield input to empty
                document.getElementById("textfield_input8").value = "";
            }
            
            document.getElementById("send_button9").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input9").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 9);

                // Set the textfield input to empty
                document.getElementById("textfield_input9").value = "";
            }
            
            document.getElementById("send_button10").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input10").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 10);

                // Set the textfield input to empty
                document.getElementById("textfield_input10").value = "";
            }
            
            document.getElementById("send_button11").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input11").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 11);

                // Set the textfield input to empty
                document.getElementById("textfield_input11").value = "";
            }
            
            document.getElementById("send_button12").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input12").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 12);

                // Set the textfield input to empty
                document.getElementById("textfield_input12").value = "";
            }
            
            document.getElementById("send_button13").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input13").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 13);

                // Set the textfield input to empty
                document.getElementById("textfield_input13").value = "";
            }
            
            document.getElementById("send_button14").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input14").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 14);

                // Set the textfield input to empty
                document.getElementById("textfield_input14").value = "";
            }

            document.getElementById("send_button15").onclick = function() {
                // Get the text value
                var text = document.getElementById("textfield_input15").value;

                // Update the chat window
                document.getElementById("chat").innerHTML += "You: " + text + "\n\n";                    
                
                // Emit a message to the 'send_message' socket
                socket.emit('send_message', {'text':text}, 15);

                // Set the textfield input to empty
                document.getElementById("textfield_input15").value = "";
            }

            // Message recieved from server
            socket.on('message_from_server', function(data) {
                var text = data['text'];
                document.getElementById("chat").innerHTML += "Server: " + text + "\n\n";   
            });

        });

        /////////////////////////////////////////////////////////
        // Messages for ClueLess

        // Server to Client:
        // Send message to indicate current game state (in case of refresh) - character positions, player’s cards, and all players’ names
        socket.on('game_state', function(data) {
            //pass
        });

        // Send message to indicate beginning of player’s turn
        socket.on('begin_turn', function(data) {
            //pass
        });

        // Send message to indicate the new space a character has moved to (character, new space name)
        socket.on('bc_movement_update', function(data) {
            //pass
        });

        // Send message to indicate what suggestion a player has made (character, weapon, room name)
        socket.on('bc_suggestion', function(data) {
            //pass
        });

        // Send message to the player who made a suggestion indicating what cards other players have chosen to show them that proves the suggestion false 
        socket.on('suggestion_disproof', function(data) {
            //pass
        });

        // Send message to indicate what accusation a player has made (character, weapon, room name) 4
        socket.on('bc_accusation', function(data) {
            //pass
        });

        // Send message to an accusing player to indicate the true character, weapon, and room name 
        socket.on('case_file', function(data) {
            //pass
        });

        // Send message to players indicating if an accusation was false or true (indicating a winner)
        socket.on('bc_accusation_result', function(data) {
            //pass
        });

        //Client to Server:
        // Request for game state refresh
        function requestGameState() {
            socket.emit('game_state_request', {'text':''});
        }

        // Send message to indicate which space player has moved to (character, new space name)
        function sendPlayerMove() {
            socket.emit('player_move', {'text':''});
        }

        // Send message with a suggestion from the player (character, weapon, room name)
        function sendSuggestion() {
            socket.emit('suggestion', {'text':''});
        }

        // Send message to indicate which card disproves a player’s suggestion (card name, card type)
        function sendSuggestionDisproof() {
            socket.emit('suggestion_disproof', {'text':''});
        }

        // Send message with an accusation from the player (character, weapon, room name)
        function sendAccusation() {
            socket.emit('accusation', {'text':''});
        }

        ////////////////////////////////////////////////////
    </script>

    <style>
        .column{
            float:inline-start;
            
            width: 31%;
            padding: 10px;
        }
        .row::after {
            content: "";
            clear: both;
            display: table;
        }
        .box {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            width: 1800px;
            height: 20px;
            padding: 10px;
            color: #ecf0f1f5;
            font-family: arial, sans-serif;
        }
        .box div {
            width: 100px;
            padding: 15px;
            text-align: center;
            color: #ecf0f1f5;
            font-family: arial, sans-serif;
            color: #ecf0f1f5;
        }
    </style>
</head>
<body>
    <div class="menu-container-flex"> 
        <h1 class="game-title">Clue Less Skeletal Demo</h1>
        <div class ="row">
            <div class ="column">
                <div class = "box">
                    Get Character Location: 
                    <input type="text" id="textfield_input1">
                    <button id = "send_button1" style="width: 50px; height: 20px;">Send</button>
                </div>
                <div class = "box">
                    Get Player Name: 
                    <input type="text" id="textfield_input2">
                    <button id = "send_button2" style="width: 50px; height: 20px;">Send</button>
                </div>
                <div class = "box">
                    Get Player Character: 
                    <input type="text" id="textfield_input3">
                    <button id = "send_button3" style="width: 50px; height: 20px;">Send</button>
                </div> 
                <div class = "box">
                    Get May Stay: 
                    <input type="text" id="textfield_input4">
                    <button id = "send_button4" style="width: 50px; height: 20px;">Send</button>
                </div> 
                <div class = "box">
                    Get Current Player: 
                    <input type="text" id="textfield_input5">
                    <button id = "send_button5" style="width: 50px; height: 20px;">Send</button>
                </div> 
            </div>
            <div class ="column">
                <div class = "box">
                    Get Next Player: 
                    <input type="text" id="textfield_input6">
                    <button id = "send_button6" style="width: 50px; height: 20px;">Send</button>
                </div>
                <div class = "box">
                    Get Case File: 
                    <input type="text" id="textfield_input7">
                    <button id = "send_button7" style="width: 50px; height: 20px;">Send</button>
                </div>
                <div class = "box">
                    Get Player Cards: 
                    <input type="text" id="textfield_input8">
                    <button id = "send_button8" style="width: 50px; height: 20px;">Send</button>
                </div> 
                <div class = "box">
                    Set Player Location: 
                    <input type="text" id="textfield_input9">
                    <button id = "send_button9" style="width: 50px; height: 20px;">Send</button>
                </div> 
                <div class = "box">
                    Set Player Name: 
                    <input type="text" id="textfield_input10">
                    <button id = "send_button10" style="width: 50px; height: 20px;">Send</button>
                </div> 
            </div>
            <div class ="column">
                <div class = "box">
                    Set Player Character: 
                    <input type="text" id="textfield_input11">
                    <button id = "send_button11" style="width: 50px; height: 20px;">Send</button>
                </div>
                <div class = "box">
                    Set May Stay: 
                    <input type="text" id="textfield_input12">
                    <button id = "send_button12" style="width: 50px; height: 20px;">Send</button>
                </div>
                <div class = "box">
                    Set Current Player: 
                    <input type="text" id="textfield_input13">
                    <button id = "send_button13" style="width: 50px; height: 20px;">Send</button>
                </div> 
                <div class = "box">
                    Set Next Player: 
                    <input type="text" id="textfield_input14">
                    <button id = "send_button14" style="width: 50px; height: 20px;">Send</button>
                </div>
                <div class = "box">
                    Make Accusation: 
                    <input type="text" id="textfield_input15">
                    <button id = "send_button15" style="width: 50px; height: 20px;">Send</button>
                </div>  
            </div>
        </div>   
    </div>
    <div align = "center">
        <textarea id="chat" style="width: 1875px; height: 350px; font-size: 18px; font-family: monospace; margin-top: 10px;"></textarea>
    </div>                  
     

</body>
</html>