<!-- templates/main_menu.html -->
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/gameplaytest.css">
    <!-- Link to the socket.io info -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>

    <script>
        var socket;  
        var x = 1;   
        var playername;
        var playercharacter; 
        var filesuspect;
        var filelocation;
        var fileweapon;

        var locations = {
            Study: {top:215, left: 225},
            Hall1: {top:215, left: 350},
            Hall: {top:215, left: 470},
            Hall2: {top:215, left: 610},
            Lounge: {top:215, left: 730},
            Hall3: {top:315, left: 225},
            Hall4: {top:315, left: 470},
            Hall5: {top:315, left: 730},
            Library: {top:415, left: 225},
            Hall6: {top:415, left:350},
            Billiard: {top:415, left:470},
            Hall7: {top:415, left:610},
            Dining: {top:415, left:730},
            Hall8: {top:540, left: 225},
            Hall9: {top:540, left: 470},
            Hall10: {top:540, left: 730},
            Conservatory: {top:640, left: 225},
            Hall11: {top:640, left: 350},
            Ballroom: {top:640, left: 470},
            Hall12: {top:640, left: 610},
            Kitchen: {top:640, left: 730}
        }

        $(document).ready(function() {
            // The http vs. https is important. Use http for localhost!
            socket = io.connect('http://' + document.domain + ':' + location.port);
            socket.emit('init_game');

            document.getElementById("getinfo").onclick = function(){
                // Get the text value
                event.preventDefault()
                var text = document.getElementById("testo").value;
                
                socket.emit('backdoor', {'text':'test'})

                // Emit a message to the 'send_message' socket
                socket.emit('request_player_info', {'text':text});

                // Set the textfield input to empty
                document.getElementById("testo").value = "";
            }

            document.getElementById("movesubmit").onclick = function() {
                event.preventDefault();
                var location = document.querySelector('input[name="Location2"]:checked').value;
                socket.emit('move_character', {'character':playercharacter, 'location':location});
            }

            document.getElementById("accusation").onclick = function() {
                event.preventDefault();
                var weapon = document.querySelector('input[name="Weapon"]:checked').value;
                var character = document.querySelector('input[name="Character"]:checked').value;
                var location = document.querySelector('input[name="Location"]:checked').value;
                socket.emit('accusation', {'weapon':weapon, 'suspect':character, 'room':location});
            }
            
            document.getElementById("suggestionsubmit").onclick = function(){
                event.preventDefault();
                var weapon = document.querySelector('input[name="Weapon"]:checked').value;
                var character = document.querySelector('input[name="Character"]:checked').value;
                socket.emit('suggestion', {'weapon':weapon, 'suspect':character});
            }

            document.getElementById("modalsubmit").onclick = function(){
                event.preventDefault();
                var weapon = document.querySelector('input[name="Weapon"]:checked').value;
                var character = document.querySelector('input[name="Character"]:checked').value;
                var location = document.querySelector('input[name="Location"]:checked').value;
                socket.emit('suggestionreply', {'weapon':weapon, 'suspect':character, 'room':location});


            }

            document.getElementById("end-turn-button").onclick = function() {
                event.preventDefault();
                socket.emit('end_turn');
            }

            document.getElementById("chat-submit").onclick = function() {
                var text = document.getElementById("chat-text").value;

                socket.emit('chat_message', {'text':text});

                document.getElementById("chat-text").value = "";
            }

            // Message recieved from server
            socket.on('message_from_server', function(data) {
                var text = data['text'];
                document.getElementById("chat").innerHTML += text + "\n\n";   
            });

            socket.on('showsuggestmodal', function(data){
                if (playername != data['player']){
                    openSuggestModal();
                }                
            });

            socket.on('playerinfo', function(data) {
                console.log(data);
                playername = data['playername'];
                playercharacter = data['character'];
                document.getElementById('playerinfooutput').innerText = "Player Name: " + playername + "\nPlayer Character: " + playercharacter;
            });

            socket.on('playercard', function(data){
                if (x == 1){
                    document.getElementById('cardoutput').innerText += "\n";
                    x = 0;
                }
                document.getElementById('cardoutput').innerText += data['cardtype'] +", " + data['cardname'] + "\n";
            });

            socket.on('casefilebackdoor', function(data){
                event.preventDefault();
                filesuspect = data['suspect'];
                fileweapon = data['weapon'];
                filelocation = data['location'];
            });

            socket.on('movecharacter', function(data){
                var character = data['character'];
                var location = data['location'];
                var newPosition = locations[location];
                var movingImage = document.getElementById(character);
                movingImage.style.top = newPosition.top + "px";
                movingImage.style.left = newPosition.left + "px";
            });

            socket.on('next_turn', function(data) {
                var text = data['text'];
                document.getElementById("chat").innerHTML += "Server: " + text + "\n\n";   
            });

            socket.on('your_turn', function(data) {
                var text = data['text'];
                document.getElementById("chat").innerHTML += "Server: " + text + "\n\n";   
                document.getElementById("move-button").disabled = false;
                document.getElementById("suggest-button").disabled = false;
                document.getElementById("accuse-button").disabled = false;
                document.getElementById("end-button").disabled = false;
            });

        });

        

    </script>

    <style>

        .radio-list-accuse{
            position: relative;
            left: 52.5vw;
            width: 45vw;
            height: 90vh;
            display: none;
            grid-template-columns: 15vw 15vw 15vw;
            grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh;
        }

        .radio-list-move{
            position: fixed;
            left: 52.5vw;
            width: 15vw;
            height: 90vh;
            display: none;
            grid-template-columns: 15vw;
            grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh;

        }
        .radio-list-suggest{
            position: fixed;
            left: 52.5vw;
            width: 30vw;
            height: 90vh;
            display: none;
            grid-template-columns: 15vw 15vw;
            grid-template-rows: 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh 15vh;

        }
        .endTurnContainer{
            position: fixed;
            left:52.5vw;
            width:30vw;
            height: 90vh;
            display: none;
        }
        .output {
            margin: 0;
            padding: 0;
            display: none;
        }
        /* Style for the Suggest Modal */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .modal-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
        }

        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
        }

        .bold { font-weight: bold; }
    
        td, th {
            border: 1px solid #000000;
            width: 15px;
            text-align: center;
        }
        
        /* table {margin:4px} */
    </style>
    
</head>
<body>
    <div class ="leftcol"> 

    </div>
    <div class ="wrapper">
        <div class="green" id="Mr. Green" style="top: 680px; left: 330px;"></div>
        <div class="red"  id = "Miss Scarlet" style="top: 180px; left: 590px;"></div>
        <div class="blue" id = "Mrs. Peacock" style="top: 550px; left: 170px;"></div>
        <div class="purple" id = "Prof. Plum" style="top: 310px; left: 170px;"></div>
        <div class="white" id = "Mrs. White" style="top: 680px; left: 590px;"></div>
        <div class="yellow" id = "Col. Mustard" style="top: 310px; left: 750px;"></div>
    </div>
    <div class ="rightcol"> 
        
    </div>


    <!-- <div class = "characterinfo">
        <input id = "testo" type = "text" style = "display: none;"></input>
        <input id = "getinfo" type = "button">Load</input>
        <p>Player Info: </p>
        <div id = "playerinfooutput"></div>
        <div id = "cardoutput">Card Type, Card Name</div>
    </div> -->
    <div class = "notebook">
        <table id="notebook" style="empty-cells: show; width: 100%; padding-top:30px">
            <tr><th colspan="11">Suspects</th></tr>
            <tr><th colspan="11">&nbsp;</th></tr>
            <tr><th colspan="11">Weapons</th></tr>
            <tr><th colspan="11">&nbsp;</th></tr>
            <tr><th colspan="11">Rooms</th></tr>
        </table>
        <div class="submitbutton" style="display: none">
            <!-- Button for submitting accuse and suggestions -->
            <button>Submit</button>
        </div>
    </div>

    <div class = "movebutton">
        <!--This will have to be changed to selecting the location to move to-->
        <button onclick = "showMoveList()" id="move-button" disabled>Move</button>
    </div>

    <div class = "suggestbutton">
        <button onclick = "showSuggestList()" id="suggest-button" disabled>Suggest</button>
    </div>

    <div class = "accusebutton">
        <button onclick = "showAccuseList()" id="accuse-button" disabled>Accuse</button>
    </div>

    <div class = "endbutton">
        <button onclick = "showEndTurn()" id="end-button" disabled>End Turn</button>
    </div>

    <div class = "serverchat" id="serverchat">
        <div id="chat" style="text-align: justify; overflow:auto;padding:10px; position:fixed; width:45.5vh; height:80vh; border: 1px solid #000000;"></div>
        <!-- <textarea id="chat" style="width: 100%; height: 90%; font-size: 18px; font-family: monospace; margin-top: 10px;"></textarea> -->
        <div style="position:fixed; top:83vh; width:100%; height: 20%; padding:20px; align-items:center;">
            <input type="text" id="chat-text" style="width:18.5%">
            <input type="submit" value="Submit" id="chat-submit">
        </div>
        
    </div>

    <div id = "accuseRadio" class = "radio-list-accuse">
        <form>
            <h3>Weapon</h3>
            <label>
                <input type="radio" name="Weapon" value="Candlestick"> Candlestick
                <input type="radio" name="Weapon" value="Knife"> Knife
                <input type="radio" name="Weapon" value="Revolver"> Revolver
                <input type="radio" name="Weapon" value="Lead Pipe"> Lead Pipe
                <input type="radio" name="Weapon" value="Wrench"> Wrench
                <input type="radio" name="Weapon" value="Rope"> Rope
            </label>
            <h3>Character</h3>
            <label>
                <input type="radio" name="Character" value="Miss Scarlet"> Miss Scarlet
                <input type="radio" name="Character" value="Mrs. Peacock"> Mrs. Peacock 
                <input type="radio" name="Character" value="Mrs. White"> Mrs. White 
                <input type="radio" name="Character" value="Col Mustard"> Col. Mustard 
                <input type="radio" name="Character" value="Mr. Green"> Mr. Green
                <input type="radio" name="Character" value="Prof Plum"> Prof Plum 
            </label>
            <h3>Location</h3>
            <label>
                <input type="radio" name="Location" value="Kitchen"> Kitchen
                <input type="radio" name="Location" value="Study"> Study
                <input type="radio" name="Location" value="Billiard Room"> Billiard Room
                <input type="radio" name="Location" value="Lounge"> Lounge
                <input type="radio" name="Location" value="Library"> Library
                <input type="radio" name="Location" value="Conservatory"> Conservatory
                <input type="radio" name="Location" value="Hall"> Hall
                <input type="radio" name="Location" value="Ballroom"> Ballroom
                <input type="radio" name="Location" value="Dining Room"> Dining Room
            </label>
            <input type = "submit" value = "Submit" id ="accusation">
        </form>
    </div>

    <div id = "moveRadio" class = "radio-list-move">
        <form id = "positionForm">
            <h3>Location</h3>
            <label>
                <input type="radio" name="Location2" value="Study"> Study
                <input type="radio" name="Location2" value="Hall1"> Hall1
                <input type="radio" name="Location2" value="Hall"> Hall
                <input type="radio" name="Location2" value="Hall2"> Hall2
                <input type="radio" name="Location2" value="Lounge"> Lounge
                <input type="radio" name="Location2" value="Hall3"> Hall3
                <input type="radio" name="Location2" value="Hall4"> Hall4
                <input type="radio" name="Location2" value="Hall5"> Hall5
                <input type="radio" name="Location2" value="Library"> Library
                <input type="radio" name="Location2" value="Hall6"> Hall6
                <input type="radio" name="Location2" value="Billiard"> Billiard Room
                <input type="radio" name="Location2" value="Hall7"> Hall7
                <input type="radio" name="Location2" value="Dining"> Dining Room
                <input type="radio" name="Location2" value="Hall8"> Hall8
                <input type="radio" name="Location2" value="Hall9"> Hall9
                <input type="radio" name="Location2" value="Hall10"> Hall10
                <input type="radio" name="Location2" value="Conservatory"> Conservatory 
                <input type="radio" name="Location2" value="Hall11"> Hall11               
                <input type="radio" name="Location2" value="Ballroom"> Ballroom
                <input type="radio" name="Location2" value="Hall12"> Hall12
                <input type="radio" name="Location2" value="Kitchen"> Kitchen
            </label>
            <input type = "submit" value = "Submit" id = "movesubmit">
        </form>
    </div>
    
    <div id = "suggestRadio" class = "radio-list-suggest">
        <form>
            <h3>Character</h3>
            <label>
                <input type="radio" name="Character" value="Miss Scarlet"> Miss Scarlet
                <input type="radio" name="Character" value="Mrs. Peacock"> Mrs. Peacock 
                <input type="radio" name="Character" value="Mrs. White"> Mrs. White 
                <input type="radio" name="Character" value="Col. Mustard"> Col. Mustard 
                <input type="radio" name="Character" value="Mr. Green"> Mr. Green
                <input type="radio" name="Character" value="Prof. Plum"> Prof Plum 
            </label>
            <h3>Weapon</h3>
            <label>
                <input type="radio" name="Weapon" value="Candlestick"> Candlestick
                <input type="radio" name="Weapon" value="Knife"> Knife
                <input type="radio" name="Weapon" value="Revolver"> Revolver
                <input type="radio" name="Weapon" value="Lead Pipe"> Lead Pipe
                <input type="radio" name="Weapon" value="Wrench"> Wrench
                <input type="radio" name="Weapon" value="Rope"> Rope
            </label>
            <h3>Room</h3>
            <label>
                <input type="radio" name="Location" value="Kitchen"> Kitchen
                <input type="radio" name="Location" value="Study"> Study
                <input type="radio" name="Location" value="Billiard"> Billiard Room
                <input type="radio" name="Location" value="Lounge"> Lounge
                <input type="radio" name="Location" value="Library"> Library
                <input type="radio" name="Location" value="Conservatory"> Conservatory
                <input type="radio" name="Location" value="Hall"> Hall
                <input type="radio" name="Location" value="Ballroom"> Ballroom
                <input type="radio" name="Location" value="Dining"> Dining Room
            </label>
            <input type = "submit" value = "Submit" id = "suggestionsubmit">
        </form>
    </div>

    <div id="suggestModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeSuggestModal()">&times;</span>
            <div id = "suggestRadio" class = "radio-list-suggest"></div><p>Can you disprove?</p>
                <form>
                    <h3>Character</h3>
                    <label>
                        <input type="radio" name="Character" value="Miss Scarlet"> Miss Scarlet
                        <input type="radio" name="Character" value="Mrs. Peacock"> Mrs. Peacock 
                        <input type="radio" name="Character" value="Mrs. White"> Mrs. White 
                        <input type="radio" name="Character" value="Col Mustard"> Col. Mustard 
                        <input type="radio" name="Character" value="Mr. Green"> Mr. Green
                        <input type="radio" name="Character" value="Prof Plum"> Prof Plum 
                        <input type="radio" name="Character" value="Dr. Orchid"> Dr. Orchid 
                        <input type="radio" name="Character" value="Miss Peach"> Miss Peach 
                    </label>
                    <h3>Weapon</h3>
                    <label>
                        <input type="radio" name="Weapon" value="Candlestick"> Candlestick
                        <input type="radio" name="Weapon" value="Knife"> Knife
                        <input type="radio" name="Weapon" value="Revolver"> Revolver
                        <input type="radio" name="Weapon" value="Lead Pipe"> Lead Pipe
                        <input type="radio" name="Weapon" value="Wrench"> Wrench
                        <input type="radio" name="Weapon" value="Rope"> Rope
                    </label>
                    <h3>Room</h3>
                    <label>
                        <input type="radio" name="Location" value="Kitchen"> Kitchen
                        <input type="radio" name="Location" value="Study"> Study
                        <input type="radio" name="Location" value="Billiard"> Billiard Room
                        <input type="radio" name="Location" value="Lounge"> Lounge
                        <input type="radio" name="Location" value="Library"> Library
                        <input type="radio" name="Location" value="Conservatory"> Conservatory
                        <input type="radio" name="Location" value="Hall"> Hall
                        <input type="radio" name="Location" value="Ballroom"> Ballroom
                        <input type="radio" name="Location" value="Dining"> Dining Room
                    </label>
                    <input id="modalsubmit" type = "submit" value = "Submit">
                </form>
                
            </div>
        </div>
    </div>
    <div id = "endTurnContainer" class = "endTurnContainer">
        <form method = "post" action = "/endturnsubmit" target = "hidden-iframe">
            <h1>Are you sure?</h1>
            <input type = "submit" value = "End Turn" id="end-turn-button">
        </form>
    
    <div class = "output">
        <p id='output'></p>
    </div>
    


    <script>
        var movingImage = document.getElementById('MrGreen');
        var positionForm = document.getElementById('positionForm');
        var moveContainer = document.getElementById('moveRadio');
        var suggestContainer = document.getElementById('suggestRadio');
        var accuseContainer = document.getElementById('accuseRadio');
        var endTurnContainer = document.getElementById('endTurnContainer');

        document.onmousemove=getCursorPos;
        var output = document.getElementById('output');
        function getCursorPos(a)
        {
        var posx = a.clientX;
        var posy = a.clientY;
        output.innerHTML="Position X: " + posx + "px & Position Y: " + posy + "px";
        } 

        var locations = {
            study: {top:235 , left: 225},
            Hall1: {top:215, left: 350},
            Hall: {top:215, left: 470},
            Hall2: {top:215, left: 610},
            Lounge: {top:215, left: 730},
            Hall3: {top:315, left: 225},
            Hall4: {top:315, left: 470},
            Hall5: {top:315, left: 730},
            Library: {top:415, left: 225},
            Hall6: {top:415, left:350},
            Billiard: {top:415, left:470},
            Hall7: {top:415, left:610},
            Dining: {top:415, left:730},
            Hall8: {top:540, left: 225},
            Hall9: {top:540, left: 470},
            Hall10: {top:540, left: 730},
            Conservatory: {top:640, left: 225},
            Hall11: {top:640, left: 350},
            Ballroom: {top:640, left: 470},
            Hall12: {top:640, left: 610},
            Kitchen: {top:640, left: 730}
        }

        //Set Up Detective Notebook
        // ------------------------------------------------------
        const artifacts = [
            ["Green", "Mustard", "Peacock", "Plum", "Scarlet", "White"],
            ["Candlestick", "Knife", "Revolver", "Lead Pipe", "Wrench", "Rope"],
            ["Kitchen", "Study", "Billiard Room", "Lounge", "Library", 
                "Conservatory", "Hall", "Ballroom", "Dining Room"]
        ]
        
        var table = document.getElementById("notebook");
        var row;
        var cell;
        var names;
        var rowIndex = 1;
        // Iterate over Suspects, Weapons, Rooms
        for (let i = 0; i < artifacts.length; i++) {
            names = artifacts[i];
            //Iterate over items in section
            for (let j = 0; j < names.length; j++) {
                row = table.insertRow(rowIndex);
                cell = row.insertCell(0);
                cell.innerHTML = artifacts[i][j];
                cell.style.textAlign = "left";
                cell.style.class = "bold";
        
                cell.onclick = function() {
                                    if (this.style.fontWeight == "bold") {
                                        this.style.fontWeight = "normal";
                                    }
                                    else {
                                        this.style.fontWeight = "bold";
                                    }                                  
                                };
                                
                //Add 10 cells
                for (let k = 1; k < 11; k++){
                    cell = row.insertCell(k);
                    cell.onclick = function(thisCell) {
                                    return function() {
                                        if (thisCell.innerHTML.trim() == "") {
                                            thisCell.innerHTML = "&check;";
                                        }
                                        else {
                                            thisCell.innerHTML = "";
                                        }
                                    };
                                }(cell);
                }
                rowIndex++;
            }
            rowIndex = rowIndex + 2;
            
        }
        // ------------------------------------------------------

        // Function to open the Suggest Modal
        function openSuggestModal() {
            document.getElementById('suggestModal').style.display = 'block';
        }

        // Function to close the Suggest Modal
        function closeSuggestModal() {
            document.getElementById('suggestModal').style.display = 'none';
        }

        // Event listener for the Suggest form submit button
        document.getElementById('suggestForm').addEventListener('submit', function(event) {
            event.preventDefault();
            openSuggestModal();
            
        });
        document.getElementById('closeModalButton').addEventListener('click', function() {
            closeSuggestModal();
        });
        function moveImage() {
            var selectedPosition = document.querySelector('input[name="Location"]:checked').value;
            var newPosition = locations[selectedPosition];

            movingImage.style.top = newPosition.top + "px";
            movingImage.style.left = newPosition.left + "px";
        }

        positionForm.addEventListener('submit', function(event) {
            event.preventDefault();
            moveImage();
            positionForm.submit();
        });

        function showAccuseList(){
            moveContainer.style.display = "none";
            suggestContainer.style.display = "none";
            endTurnContainer.style.display = "none";

            if(accuseContainer.style.display === "none")
            {
                accuseContainer.style.display = "grid";
            }
            else
            {
                accuseContainer.style.display = "none";
            }
        }

        function showSuggestList(){
            moveContainer.style.display = "none";
            accuseContainer.style.display = "none";
            endTurnContainer.style.display = "none";

            if(suggestContainer.style.display === "none")
            {
                suggestContainer.style.display = "grid";
            }
            else
            {
                suggestContainer.style.display = "none";
            }
        }

        function showMoveList(){
            suggestContainer.style.display = "none";
            accuseContainer.style.display = "none";
            endTurnContainer.style.display = "none";

            if(moveContainer.style.display === "none")
            {
                moveContainer.style.display = "grid";
            }
            else
            {
                moveContainer.style.display = "none";
            }
        }

        function showEndTurn(){
            suggestContainer.style.display = "none";
            accuseContainer.style.display = "none";
            moveContainer.style.display = "none";

            if(endTurnContainer.style.display === "none")
            {
                endTurnContainer.style.display = "grid";
            }
            else
            {
                endTurnContainer.style.display = "none";
            }

        }

        function updateLocationsAndRadioButtons(){
            fetch('/getlocations')
        }



    </script>

    <iframe name = "hidden-iframe" style = "display:none"></iframe>
</body>
</html>

